



<br>
<br />
<br>
<br />

<div align="center">
    @{
        ViewBag.Title = "The About page";
    }

    <h1>@ViewBag.Title.</h1>
    <h2><i>@ViewBag.Message</i></h2>
    <br>
    <br />
</div>

<p align="center">Welcome to The Tech Academy. This is the area that you may use to provide additional information.</p>


<br>
<br />
<br>
<br />